{% extends 'dgp/base.html' %}

{% block content %}
<script>
$(document).ready(function(){
    $("#runButton").click(function(){
        confirm("Êtes vous sûr de vouloir lancer l'initialisation de la compta sur l'instance " + $("#id_target").val()+" ?");
    });
});
</script>
<h1>Nouvelle exécution</h1>
<form method="POST" class="post-form">
  {% csrf_token %}
  <table class="commentForm">
    {{ form.as_table }}
    <tr><th colspan="2"><button id="runButton" type="submit" class="save btn btn-default">Lancer</button></th></tr>
  </table>

</form>
{% endblock %}
