{% extends 'dgp/base.html' %}

{% block content %}
    <h2><a href="/dgp">InitCPT</a></h2>
    <h3>Historique</h3>
    <table class="table">
      <tr>
        <th>Cible</th>
        <th>Plateforme</th>
        <th>Type</th>
        <th>Date</th>
        <th>Utilisateur</th>
      </tr>
    {% for run in runs %}
            <tr>
              <td><a href="{% url 'run_detail' pk=run.pk %}">{{ run.target }}</a></td>
              <td>{{ run.platform}}</td>
              <td>{{ run.typeCol}}</td>
              <td>{{ run.date }}</td>
              <td>{{ run.user }}</td>
          </tr>
    {% endfor %}
    <tr><td colspan="5">
    <div class="dgp-tablepagination">
    <span>
        {% if runs.has_previous %}
            <a href="?page={{ runs.previous_page_number }}">&lt;</a>
        {% endif %}
        <span>
            {{ runs.number }} / {{ runs.paginator.num_pages }}
        </span>
        {% if runs.has_next %}
            <a href="?page={{ runs.next_page_number }}">&gt;</a>
        {% endif %}
    </span>
</div>
  </td></tr>
  </table>
  <!-- <hr> -->
  <h3>Nouvelle exécution par
  <a class="btn btn-primary" href="{% url 'newSelectionRun' %}">sélection</a>
  <a class="btn btn-primary" href="{% url 'newParametersRun' %}">paramètres</a>
</h3>
{% endblock content %}
